<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cess.com.br.zapviewer.feature.productdetail">

    <application
        android:hardwareAccelerated="true"
        android:supportsRtl="true">
        <activity android:name="cess.com.br.zapviewer.feature.productdetail.ProductDetailActivity">
            <intent-filter>
                <action android:name="cess.com.br.zapviewer.feature.productdetail.ProductDetailActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>